* {
    margin: 0;
    padding: 0;
}
.material-symbols-outlined {
font-variation-settings:
'FILL' 0,
'wght' 400,
'GRAD' 0,
'opsz' 48
}

body {
    background-color: #202124;
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
}

img {
    border-radius: 50%;
    width: 30px ;
    height: 30px ;
    background-color: white;
}


.header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    
    flex-wrap: wrap;
    align-items: center;
    
}


.list  {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 17px;
    color: white;
    padding: 15px;
    
    
    
}

h1 {
    color: white;
    margin-top: 100px;
    text-align: center;
    font-size: 62px;

}
.search-bar {
    border-radius: 24px;
    border: 1px solid #575B5F;
    background: #202124;
    padding: 10px;
    display: flex;
    z-index: 3;
    margin: 20px auto;
    max-width: 40%;
    height: 18px;
}



/* .search-bar {
    border-radius: 24px;
    border: 1px solid #575B5F;
    background: #202124;  
    padding: 10px;
    display: flex;
    z-index: 3;
    max-width: 40%;
height: 22px;
margin: 20px auto;

} */

/* input {
    border-radius: 24px;
    
    background: #202124;  

    width: 100%;
    height: 42px;
    margin-top: -10px;

    
} */
input {
    border: none;
    background: #202124;
    padding: 6px 12px;
    flex: 1;
    color: white;
    font-size: 16px;
    outline: none;
}
.material-symbols-outlined {
    color: #959595;
    margin-right: 6px;
    font-size: 16px;
}


.left-icons,.right-icons {
    display: flex;
}




/* .search-bar {
    width: 638px;
    display: flex;
    position: absolute;
    

}

.icons {
    display: flex;
    
} */

.box1,.box2 {
    width: 140px;
    height: 30px;
    background-color: #3031348c;
    
    color: white;
    text-align: center;
    line-height: 2.2;
    padding: 5px;
    font-size: 14px;
}

.boxes {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
/* #CCE4F7 */

#arab-word{
    color: #7EA3E0;
    font-size: 12px;
}

p {
    color: white;
    font-size: 12px;
}

.p-div {
    margin-top: 15px;
    text-align: center;
}

.right-side,.left-side {
    list-style: none;
    color: #92969B;
    font-size: 12px;
    display: flex;
    gap: 20px;
    padding: 10px;
}

.footer {
    background-color: #171717;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.side {
    display: flex;
    justify-content: space-between;
}

.p-palestine {
    padding: 10px;
    color: #92969B;
    padding-left: 30px;
}
hr {
    opacity: 0.2;
}
.padd-items {
    padding-left: 20px;
}
.padd-items-right {
    padding-right: 20px;
}


